.healthstatuscards {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.dashboardoverview {
   display: flex;
   gap: 60px;
   width: 90%;
}

@media (max-width: 1308px) {
 .dashboardoverview {
   gap: 5px;
   margin: 0 auto;
   justify-content: center;
}
}
.dashboard {
   color: rgb(10, 10, 123);
   margin-left: 20px;
}

.upper {
   border: none;
   display: flex;

}