.firstschedule{
display: flex;
gap: 30px;
margin-left: 40px;
border-radius: 50px;
margin-bottom: 20px;
}

@media (max-width:626px) {
    .firstschedule{
        gap:2px;
        margin-left: auto;
    } 
}

.lastschedule{
    display: flex;
}

.section-title{
margin:13px 0px 10px 40px;
color: rgb(18, 18, 91);
font-size: 22px;

}