.sidebar {
  display: flex;
  flex-direction: column;
  width: 287px;
  background: #f7f9fc;
  align-items: center;

}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #333;
  padding: 0px 0px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 12px;
}

.sidebar-bottom {
  padding-top: 80px;
  border-top: 1px solid #ddd;
  margin-right: 40px;
}

@media screen and (max-width:600px) {

  .sidebar-bottom {
    margin-top: 2px;
    padding-top: 2px;

  }

  .sidebar {
    display: flex;

    width: 25%;
    background: #f7f9fc;
    align-items: center;
    flex-wrap: wrap;
    height: 350px;

    .list {
      padding: 3px;
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f9fc;
  width: 287px;
}

.list {
  list-style: none;
  padding: 12px;
  margin: 0;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #333;
}